.footer {
    width: 100%;
    background-color: rgb(13, 13, 76);
    margin-top: 0;
    height: auto;
    padding-bottom: 2%;
}

.footer .footer-title {
    /* border: 2px solid red; */
    width: 100%;
    padding-top: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-title h1 {
    background: #FFABE9;
    background: radial-gradient(ellipse farthest-corner at bottom left, #FFABE9 37%, #FFF4BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    width: 80%;
    text-align: center;
    line-height: 60px;
}

.footer .footer-title h1 span {
    font-size: 4rem;
    width: 100%;
}

.footer .footer-title button {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    background: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 40px;
}


.footer .footer-menu {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-top: 8%;
    /* border: 2px solid red; */
}

.footer .footer-menu .menu-list {
    list-style: none;
    width: 30%;
    /* border: 2px solid black; */
}

.footer .footer-menu .menu-list .menu-react {
    margin-bottom: 30%;
    /* border: 1px solid red; */
}

.footer .footer-menu .menu-list img {
    height: 40px;
}



.footer .footer-menu .menu-list h6 {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer .footer-menu .menu-list li {
    line-height: 30px;
}

.footer .footer-menu .menu-list p {
    line-height: 30px;
    margin-bottom: 10%;
}

.footer h5 {
    color: white;
    text-align: center;
}


@media (max-width:1225px) {
    .footer .footer-title h1 span {
        font-size: 3.5rem;
        line-height: 100%;
    }

    .footer .footer-title h1 {
        font-size: 2.8rem;
        line-height: 100%;
        margin-bottom: 0;
        padding-bottom: 10px;
    }
}

@media (max-width:435px) {

    .footer .footer-title h1 span {
        font-size: 1.4rem;
        line-height: 100%;
    }

    .footer .footer-title h1 {
        font-size: 1.4rem;
        line-height: 100%;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .footer .footer-title button {
        height: 40px;
        width: 150px;
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .footer .footer-menu {
        font-size: 0.7rem;
    }

    .footer .footer-menu .sub-menu {
        margin-top: 50px;
    }

    .footer h5 {
        font-size: small;
    }
}